html {
    font-size: .75rem;
}

body {
    background-color: #0A0E1E;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    padding: 0 auto;
    /* width: 70%; */
    margin: 0 auto;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 2.986rem;
    color: #FFFFFF;
}

h2 {
    font-size: 2.488rem;
    color: #FFFFFF
}

h3 {
    font-size: 2.3rem;
    color: #FFFFFF;
}

h4 {
    font-size: 1.728rem;
    color: #FFFFFF;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

.big-body {
    font-size: 2.125rem;
    font-weight: 300;
    line-height: normal;
    color: #FFFFFF
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF
}

small {
    font-size: .833;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    color: #ffffff;
    line-height: 1.5rem;

}

.section-label {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: #FFFFFF80
}

/* Helper Classes */

.is-bold {
    font-weight: 800;
}

.no-margin-top {
    margin-top: 0;
}

.margin-top {
    margin-top: 4rem;
}

.gray-text {
    color: #9a9a9a;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* margin-top: 5%; */
    margin: 2% auto;
}

.main_logo {
    display: inline;
    width: 20px;
}

.nav_items {
    display: inline;
    list-style: none;
    color: #FFFFFF;
    margin: 20px
}

/* Hero */

.home-hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    height: 60vh;
    place-content: center;
    align-items: start;
}

/* Current Work */

.current-project {
    margin-bottom: 9rem;
}

.current-title {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: .75rem 0rem;
}

.current-description {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: start;
    margin: 0;
}

.key-contributions {
    margin-top: 0;
}

.current-work-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 20px;
}

.read-more {
    font-size: 1rem;
    color: #00E7FF;
    text-decoration: none;
}

/* Past Work */

.past-work {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: start;
    margin-bottom: 9rem;
}

.past-work-title {
    margin: 0;
}

.other-work-banner {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Footer */

.link {
    color: #22D3EE;
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: .75rem;
    margin-top: 10rem;
}

/* Project Page */


.project-description {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5em;
    margin: 0;
}

.project-subsection {
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-subsection-title {
    font-size: 1.125rem;
    margin: 0;
}

.results-project-2col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    text-align: center;
}

.result-metric {
    font-size: 3.5rem;
    font-weight: 100;
    color: #ffffff;
    margin: 2rem;
}

.project-main-image {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero-project {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: start;
}



/* About Page */

.hero-about {
    display: grid;
    grid-template-columns: 1fr;
    height: 40vh;
    margin-bottom: 8rem;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.position {
    margin-bottom: 0;
}

.position+.position {
    margin-top: 5rem;
}

.resume-company-date {
    font-size: .75rem;
    font-style: italic;
    color: #9a9a9a;
    margin: 0;
}

.resume-description {
    margin-top: .5em;
    color: #9a9a9a
}

.about-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 1024px) {
/* Global Styles */

html {
    font-size: 1rem;
}

body {
    background-color: #0A0E1E;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    padding: 0 auto;
    /* width: 70%; */
    margin: 0 auto;
}

main {
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 2.986rem;
    color: #FFFFFF;
}

h2 {
    font-size: 2.488rem;
    color: #FFFFFF
}

h3 {
    font-size: 2.625rem;
    color:#FFFFFF;
}

h4 {
    font-size: 1.728rem;
    color: #FFFFFF;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

.big-body {
    font-size: 3.3125rem;
    font-weight: 300;
    line-height: normal;
    color:#FFFFFF
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    color:#FFFFFF
}

small {
    font-size: .833;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    color: #ffffff;
    line-height: 1.5rem;

}

.section-label {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 0.2em;
    color:#FFFFFF80
}

/* Helper Classes */

.is-bold {
    font-weight: 800;
}

.no-margin-top {
    margin-top: 0;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* margin-top: 5%; */
    margin: 2% auto;
}

.main_logo {
    display: inline;
    width: 20px;
}

.nav_items {
    display: inline;
    list-style: none;
    color: #FFFFFF;
    margin: 20px
}

/* Hero */

.home-hero {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 1.25rem;
    height: 60vh;
    place-content: center;
    align-items: start;
}

/* Current Work */

.current-project {
    margin-bottom: 9rem;
}

.current-title {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    margin: .75rem 0rem;
}

.current-description {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    align-items: start;
    margin: 0;
}

.key-contributions {
    margin-top: 0;
}

.current-work-image {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 2rem;
    margin-bottom: 20px;
}

.read-more {
    font-size: 1rem;
    color: #00E7FF;
    text-decoration: none;
}

/* Past Work */

.past-work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 9rem;
}

.other-work-banner {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Footer */

.link {
    color: #22D3EE;
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: .75rem;
    margin-top: 10rem;
}

/* Project Page */

.project-description {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5em;
    margin: 0;
}

.project-subsection {
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-subsection-title {
    font-size: 1.125rem;
    margin: 0;
}

.results-project-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    text-align: center;
}

.result-metric {
    font-size: 5.625rem;
    font-weight: 300;
    color: #ffffff;
    margin: 2rem;
}

.project-main-image {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-description {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5em;
    margin: 0;
}

.hero-project {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    align-items: start;
}

/* About Page*/
.hero-about {
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    height: 40vh;
    margin-bottom: 8rem;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.position {
    margin-bottom: 0;
}

.position+.position {
    margin-top: 5rem;
}

.resume-company-date {
    font-size: .75rem;
    font-style: italic;
    color: #9a9a9a;
    margin: 0;
}

.resume-description {
    margin-top: .5em;
    color: #9a9a9a
}

.about-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

}
